*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.user-menu{
    position: relative;
    margin-left: 100px;
    min-width: 300px;
    font-size: 1em;
    height: 50px;
    background-color:#0099ff;
    color: #eee;
    overflow: hidden;
}

.user-name{
    height: 100%;
    line-height: 5;
    text-align:center;
}
.user-name:hover{
    cursor:pointer;
}

.user-menu__list{
    position:absolute;
    display: block;
    background-color: #fff;
    left: -20%;
    min-width: 220px;
    box-shadow: 0px 4px 5px rgba(0,0,0,0.5);
}

.user-menu__item{
    padding: 20px;
}
