<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/account.css"/>
    <title>Account</title>
</head>
<body>
        <div class="card">
            <div class="card-content">
                <h2>Crear Cuenta</h2>
                    <form action="" class="card-form">
                        <input type="text" placeholder="Nombre"/>
                        <input type="email" placeholder="Correo Electroico"/>
                        <input type="password" placeholder="Password"/>
                        <button type="submit">Registrar</button>
                    </form>
                    <p class="center">o <a href="/login">Iniciar Sesión</a></p>
                </div>
            </div>  
</body>
</html>