<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/account.css"/>
    <title>Account</title>
</head>
<body>
        <div class="card">
            <div class="card-content">
                <h2>Account</h2>
                    <form action="" class="card-form">
                        <input type="text" placeholder="Nombre"/>
                        <input type="email" placeholder="Correo Electroico"/>
                        <input type="password" placeholder="Password"/>
                        <input type="password" name="" id="">
                        <button type="submit">Registrar</button>
                    </form>
                </div>
            </div>  
</body>
</html>