<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <title>HW App</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="header-items">
                <h1 class="title">HomeWork App</h1>
            <nav class="nav">
                <ul class="nav-list">
                    <a class="nav-item" href="/login"><li>Iniciar Sesión</li></a>
                    <a class="nav-item" href="/account"><li>Registrarse</li></a>
                </ul>
            </nav>
            </div>
        </header>
    <!-- nav heade -->

    <!-- <div class="add-todo">
        <div class="todo-card">
            <form action="" id="add">
                <h2>Add Todo </h2>
                <input type="text"  id="title" placeholder="Title">
                <textarea name="" cols="30" rows="10" placeholder="list tasks" id="description"></textarea>
                <button type="submit" class="btn">Add Task</button>
            </form>
        </div>
    </div>
    
    <div class="container-card">
        <h1>Project</h1>
        <div class="flex">
            <section class="card" id="drag-todo">
                <div class="card-controls">
                    <h2>ToDo</h2>
                    <button class="btn btn-add"><span class="material-icons">
                        &#xe145;
                        </span></button> 
                </div>
            </section>
            <section class="card" id="container-drag">
                <div class="card-controls">
                    <h2>In Proggres</h2>
                </div>
            </section>
            <section class="card" id="container-project">
                <div class="card-controls">
                    <h2>Completed</h2>
                    <button class="btn btn-add"><span class="material-icons">
                        &#xe145;
                        </span></button> 
                </div>
            </section>
        </div> -->
    </div>


    </div> 
    <script src="./js/main.js" type="module"></script>    
</body>
</html>