<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/login-style.css">
    <title>Login</title>
</head>
<body>
    <div class="card">
        <div class="card-content">
            <h2>Iniciar Sesión</h2>
                <form action="" class="card-form" id="login">
                    <input type="email" placeholder="Correo Electroico" id="email"/>
                    <input type="password" placeholder="Password" id="password"/>
                    <button type="submit">Iniciar Sesión</button>
                </form>
                <p class="center">o <a href="/account">Registrarse</a></p>
            </div>
        </div>  
    
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="./js/signIn.js" type="module"></script>
</body>
</html>