<link rel="stylesheet" href="/style/navigation-menu.css">
<header class="header">
    <div class="header-items">
        
        <nav class="nav">
            <a href="/">
                <h1 class="title">HW App</h1>
            </a>
            <ul class="nav-list">
                <a class="nav-item" href="#">
                    <li>Iniciar Sesión</li>
                </a>
                <a class="nav-item" href="#">
                    <li>Registrarse</li>
                </a>
            </ul>
        </nav>
        <%-include('user-menu')%>
    </div>
</header>