<link rel="stylesheet" href="/style/user-menu.css">
<nav id="user-component" class="user-menu">
    <p id="user-component__name" class="user-name"><%= name%></p>
    <ul class="user-menu__list">
        <a href="/sessionLogOut" class="user-menu__action">
            <li class="user-menu__item">Cerrar Sesión</li>
        </a>
    </ul>
</nav>
<script src="/js/user-menu.js"></script>
